body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}


.btn {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    background: linear-gradient(135deg, #28a745, #218838);
    color: #fff;
    text-align: center;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}



/* Table */
.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}


th, td {
    padding: 16px 10px;
    border-bottom: 1px solid #ececec;
    text-align: center;
}

th {
    background: #34495e;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;
}

tr:hover td {
    background: #f9fbfc;
}